/*Header main styles */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 10000;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    transition: all 0.2s ease-in-out;
    height: auto;
    background-color: transparent;
}

/*Navbar wrapper styles */

.wrapper {
    max-width: 1320px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

/* Background color of the header on mouse scroll */

.active {
    background-color: #1a90d0;
}

.contact>a>img, .logo {
    width: 80px;
}

.history>h1, .history>p {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 50px;
}

h1 {
    margin-top: 20px;
    font-size: 25px;
    font-weight: bold;
}

p {
    font-size: 18px;
}